@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localizer> l
    
@{
    ViewData["Title"] = "Wat Jibts";
}

@{
    var controllerName = string.Empty;
    object controllerObj;
    var actionName = string.Empty;
    object actionObj;

    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
    {
        controllerName = controllerObj.ToString();
    }

    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
    {
        actionName = actionObj.ToString();
    }

    var displayName = string.Empty;
    displayName = ViewContext.ActionDescriptor.DisplayName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/menu-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/body-style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="">
            <div class="navbar">
                <div class="container nav-container">
                    <input class="nav-menu" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                            <span class="line line1"></span>
                            <span class="line line2 middle-line"></span>
                            <span class="line line3 middle-line"></span>
                            <span class="line line4 middle-line"></span>
                            <span class="line line5"></span>
                    </div>  
                    <div class="logo">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <h1 class="@(@actionName == "Index" ? "selected" : "flickering-headline") ">WatJibts</h1>
                            </a>
                        </a>
                    </div>
                    
                    <div class="menu-item-container">
                        <div class="menu-items">

                            @await Html.PartialAsync("_SelectLanguagePartial")

                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <h1 class="@(@actionName == "Index" ? "selected" : "flickering-headline") ">WatJibts</h1>
                                </a>
                            </li>
                            @{
                                if (SignInManager.IsSignedIn(User))
                                {
                                    <li>
                                        <a class="@(@actionName == "Profile" ? "selected" : "")" asp-area="" asp-controller="User" asp-action="Profile">
                                            @l["profile"]
                                        </a>
                                    </li>
                                    <li>
                                        <a class="@(@actionName == "UserIndex" ? "selected" : "")" asp-area="" asp-controller="User" asp-action="UserIndex">
                                            @l["users"]
                                        </a>
                                    </li>
                                    <li>
                                        <a class="@(@actionName == "LocationIndex" ? "selected" : "")" asp-area="" asp-controller="Location" asp-action="LocationIndex">
                                            @l["locations"]
                                        </a>
                                    </li>
                                    <li>
                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="logout-button">
                                                @l["logout"]
                                            </button>
                                        </form>
                                    </li>

                                     <br><br><hr><br>
                            
                                    <div class="menu-items">
                                        @Html.ActionLink(@l["clear todays lunch sessions"],"clearTodaysLunchSessions")
                                    </div>


                                }
                                else 
                                {
                                    <li>
                                        <a class="@(@displayName == "/Account/Login" ? "selected" : "")" id="login" asp-area="Identity" asp-page="/Account/Login">
                                            @l["login"]
                                        </a>
                                    </li>
                                    <li>
                                        <a class="@(@displayName == "/Account/Register" ? "selected" : "")" id="register" asp-area="Identity" asp-page="/Account/Register">
                                            @l["register"]
                                        </a>
                                    </li>
                                }
                                
                                <br><br><hr><br>

                                <div>
                                    &copy; 2023 - src - 
                                    <a class="@(@actionName == "Impressum" ? "selected" : "")" asp-area="" asp-controller="Home" asp-action="Impressum">
                                        @l["imprint"]
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            <div class="body-container">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
