@page
@model RegisterModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LoginModel> l

@{
    ViewData["Title"] = @l["register"];
}

<h1>@ViewData["Title"]</h1>

<p> 
    @l["register_intro"]
</p>

<hr />

<div class="form-container">
    <form class="form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-field">
            <label class="form-label"   asp-for="Input.Email">@l["email"]</label>
            <input class="form-control" asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
            <span  class="form-error"   asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        
        @* <div class="form-field">
            <label class="form-label"   asp-for="Input.UserName">Name</label>
            <input class="form-control" asp-for="Input.UserName" class="form-control" aria-required="true" placeholder="name" />
            <span  class="form-error"   asp-validation-for="Input.UserName" class="text-danger"></span>
        </div> *@

        <div class="form-field">
            <label class="form-label"   asp-for="Input.Password">@l["password"]</label>
            <input class="form-control" asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span  class="form-error"   asp-validation-for="Input.Password"></span>
        </div>

        <div class="form-field">
            <label class="form-label"   asp-for="Input.ConfirmPassword">@l["confirm_password"]</label>
            <input class="form-control" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span  class="form-error"   asp-validation-for="Input.ConfirmPassword"></span>
        </div>

        <button id="registerSubmit" type="submit" class="submit">@l["register"]</button>
    </form>
</div>
