@model List<Location>;

@{
    ViewData["Title"] = "Locations";
    ViewData["Active"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<hr />

@Html.ActionLink("Add", "Add", new {})


<div class="table-wrapper">
    @for (int index = 0; index < Model.Count; index++)
    {
        <div class="table-item">
                <p>
                    @Model[index].name
                </p>

                <p>
                    @Model[index].description
                </p>

                @if(@Model[index].isPlaceToEat){
                    <p>
                       Ort zum essen 
                    </p>
                }

                @if(@Model[index].isPlaceToGetFood){
                    <p>
                       Ort für Essen 
                    </p>
                }

                @Html.ActionLink("Edit", "Edit", new {location = Model[index]})
                @Html.ActionLink("Delete", "Delete", new {id = Model[index].Id})
        </div>
    }
</div>

