@model List<Location>;
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localizer> l

@{
    ViewData["Title"] = @l["locations"];
    ViewData["Active"] = "Home";
}

<div class="refdata-head">
    <h1>@ViewData["Title"]</h1>
    @Html.ActionLink("+", "Add", new {})
</div>

@if(ViewBag.error != null)
{
    <div class="error-msg">
        @ViewBag.error
    </div>
}

<div class="table-wrapper">
    @for (int index = 0; index < Model.Count; index++)
    {
        <div class="table-item">
                <p>
                    <b>
                        @Model[index].name
                    </b>
                </p>

                <p>
                    @Model[index].description
                </p>

                @if(@Model[index].isPlaceToEat){
                    <p>
                       @l["place to eat"]
                    </p>
                }

                @if(@Model[index].isPlaceToGetFood){
                    <p>
                       @l["place for food"] 
                    </p>
                }

                @Html.ActionLink(@l["edit"], "Edit", new {Id = Model[index].Id})
                <span class="link-red">
                    @Html.ActionLink(@l["delete"], "Delete", new {Id = Model[index].Id})
                </span>
        </div>
    }
</div>

