@model User

@{
    ViewData["Title"] = "Edit User";
    ViewData["Active"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preferredLunchTime, htmlAttributes: new { @class = "form-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preferredLunchTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preferredLunchTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_defaultPlaceToEat, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @* @Html.DropDownListFor(model => model.fk_defaultPlaceToEat, Model.preferredLunchTime, new { htmlAttributes = new { @class = "form-control" } }) *@
                @* @Html.DropDownList("Id", ViewBag.LocationToEat,"Auswählen", new { htmlAttributes = new { @class = "form-control" } }) *@
                @* <select asp-for="Model.User.fk_defaultPlaceToEat" asp-items="Model.LocationToEat"></select> *@

                @* <select asp-for="Id" asp-items="@(new SelectList(ViewBag.locationsToGetFood, "Id", "name"))">
                        <option value="-1">keine Angabe</option>
                </select> *@

                <select asp-for="fk_defaultPlaceToEat" class="form-control" asp-items="@(new SelectList(ViewBag.locationsToGetFood, "Id", "name"))">
                    <option value="">-- Select Department --</option>
                </select>

                @Html.ValidationMessageFor(model => model.fk_defaultPlaceToEat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_defaultPlaceToGetFood, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @* @Html.EditorFor(model => model.fk_defaultPlaceToGetFood, new { htmlAttributes = new { @class = "form-control" } }) *@
                @* @Html.DropDownList("Id", ViewBag.LocationToGetFood,"Auswählen", new { htmlAttributes = new { @class = "form-control" } }) *@
                
                @Html.ValidationMessageFor(model => model.fk_defaultPlaceToGetFood, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "UserIndex")
</div>