@model UserProfile;
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localizer> l
    
@{
    ViewData["Title"] = @l["profile"];
}

<h1>@ViewData["Title"]</h1>

<br>
<h2>
    @l["edit profile"]
</h2>

<hr>
<br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-field">
            <label class="form-label">@l["username"]</label>
            @Html.EditorFor(model => model.user.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-field">
            <label class="form-label"> @l["preferred lunch time"]</label>
            @Html.EditorFor(model => model.user.preferredLunchTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.preferredLunchTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-horizontal">

        <div class="form-field">
            <label class="form-label">@l["place for food"]</label>
            <select asp-for="user.fk_defaultPlaceToGetFood" class="form-control" asp-items="@(new SelectList(ViewBag.locationsToGetFood, "Id", "name"))">
                <option value="-1">@l["no place"]</option>
            </select>
            @Html.ValidationMessageFor(model => model.user.fk_defaultPlaceToGetFood, "", new { @class = "text-danger" })
        </div>

        <div class="form-field">
            <label class="form-label">@l["place to eat"]</label>            
            <select asp-for="user.fk_defaultPlaceToEat" class="form-control" asp-items="@(new SelectList(ViewBag.locationsToEat, "Id", "name"))">
                <option value="-1">@l["no place"]</option>
            </select>
            @Html.ValidationMessageFor(model => model.user.fk_defaultPlaceToEat, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-field submit-button">
        <input type="submit" value= "@l["submit"]" class="btn btn-default" />
    </div>


    <a id="forgot-password" href="../Identity/Account/ForgotPassword">@l["reset password"]</a>
}

@if(ViewBag.adminExists == false)
{
    @Html.ActionLink(@l["promote to admin"], "AddFirstAdmin")
}

<br>
<h2>@l["previous lunch sessions"]</h2>
<hr>


@if(Model.userLunchSessions.Count() > 0) 
{
    <span class="link-red">
        @Html.ActionLink(@l["delete profile sessions"], "DeleteProfileLunchSessions")
    </span>
    <div class="lunchtime-wrapper">
        @foreach(var lunchSession in Model.userLunchSessions)
        {
            if(lunchSession.fk_user != null)
            {
                <div class="lunchtime-card">

                    <div class="lunchtime-time">
                        @lunchSession.lunchTime.ToString("dd.mm.yyyy, hh:mm tt")
                    </div>

                    <div class="lunchtime-places">
                        @if(@lunchSession.fk_foodPlace == -1)
                        {
                        }
                        else{
                            <span>@l["get food from"]</span>
                            @lunchSession.fk_foodPlace
                        }

                        @if(@lunchSession.fk_eatingPlace == -1)
                        {
                            
                        }
                        else{
                            <span>@l["eats at"]</span>
                            @lunchSession.fk_eatingPlace
                        }
                    </div>
                    <span class="link-red">
                        @Html.ActionLink(@l["delete session"], "DeleteProfileLunchSession", new {id = lunchSession.Id})
                    </span>
                </div>
            }
        }
    </div>
}
else {
    <span>@l["no lunchsessions created yet"]</span>
}

<br>
<h2>@l["default lunch times"]</h2>
<hr>
<br>


@foreach(var defaultLunchSession in Model.defaultLunchSessions)
{
    <details @(@defaultLunchSession.weekday == (int)DateTime.Now.DayOfWeek ? "open class=lunchtime-wrapper-today " : "")>
        <summary class="profile-lunchtime-wrapper">
            @switch(defaultLunchSession.weekday)
            {
                case 1:
                        @l["monday"] 
                    break;
                case 2:
                    @l["tuesday"] 
                    break;
                case 3:
                    @l["wednesday"] 
                    break;
                case 4:
                    @l["thursday"] 
                    break;
                case 5:
                    @l["friday"] 
                    break;
                case 6:
                    @l["saturday"] 
                    break;   
                case 7: 
                    @l["sunday"]
                    break;
            }
        </summary>
        <div class="lunchtime-form">
            @using (Html.BeginForm("Profile"))
            {
                @Html.AntiForgeryToken()
                
                <div class="form-field participating-wrapper">
                    <div class="form-field">
                        <label class="form-checkbox-label">@l["participating"]</label>
                        @Html.CheckBox("participating", false)
                
                        <div class="lunchtime-details">
                            <div class="form-horizontal">
                                <div class="form-field-section">

                                    <div class="form-field">
                                        <label class="form-label">@l["place for food"]</label>
                                        <select class="form-select" name="fk_foodPlace" asp-for="defaultLunchSession.fk_foodPlace" asp-items="@(new SelectList(ViewBag.LocationsToGetFood, "Id", "name"))">
                                                <option value="-1">@l["no place"]</option>
                                        </select>
                                    </div>

                                    <div class="form-field">
                                        <label class="form-label">@l["place to eat"]</label>
                                        <select class="form-select" name="fk_eatingPlace" asp-for="defaultLunchSession.fk_eatingPlace" asp-items="@(new SelectList(ViewBag.LocationsToEat, "Id", "name"))">
                                            <option value="-1">@l["no place"]</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-field-section">
                                    <div class="form-field"> 
                                        <div class="time-container">
                                            <div class="form-field">
                                                <label class="form-label">@l["lunch time"]</label>
                                                <input type="datetime" id="lunchTime" name="lunchTime" min="00:01" max="23:59" value=@defaultLunchSession.lunchTime.ToString("hh:mm tt")/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="">
                    @l["submit"]
                </button>
            }
        </div>
    </details>
}

<div>
    @Html.ActionLink(@l["back to user list"], "UserIndex")
</div>