@model List<User>;
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localizer> l
    
@{
    ViewData["Title"] = @l["user index"];
    ViewData["Active"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<div class="table-wrapper">
    @for (int index = 0; index < Model.Count; index++)
    {
        <div class="table-item">
                <p>
                    <b>
                        @Model[index].UserName
                    </b>
                </p>
                <p>
                    @Model[index].Email
                </p>
                @Html.ActionLink(@l["edit"], "Edit", new {Id = Model[index].Id})
                <span class="link-red">
                    @Html.ActionLink(@l["delete"], "Delete", new {Id = Model[index].Id})
                </span>
        </div>
    }
</div>