@model dynamic
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<h1>Wilkommen zu WatJibts!</h1>

<hr>
@if (!SignInManager.IsSignedIn(User))
{
    <p>
        Hier können Sie zusammen mit Freunden oder ihrem Team unterschiedliche arten von Essen organisieren.
    </p>

    <h2>Es scheint so als wären sie noch nicht angemeldet.</h2>
}
else
{
    @if(Model.hasLunchSessions) 
    {
        @foreach(var lunchSession in Model.LunchSessions)
        {
            <div class="table-item">
                @lunchSession.lunchTime
                @lunchSession.fk_foodPlace
                @lunchSession.fk_eatingPlace
                @Html.ActionLink("Anschließen", "", new {id = lunchSession.Id})
            </div>
        }
    }
    else 
    {
        <p>Heute wurde noch keine Session hinzugefügt</p>
    }

    <hr>
    <div class="user-input-container">
        <form class="form-inline" asp-page="/Home/Confirm" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <div class="time-container">
                <div class="form-field">
                    <label class="form-label">LunchTime</label>
                    <input type="datetime" id="lunchTime" name="lunchTime" min="00:01" max="23:59" value="13:37"/>
                </div>
            </div>

            <div class="form-field">
                <label class="form-label">Participating</label>
                @Html.CheckBox("participating", false)
            </div>

            <div class="form-wrapper">
                <label class="form-label">Place to Eat</label>
                @* <select name="placeToEat" class="place-to-eat-select"> *@
                    <select id="location-to-eat" asp-items="@Model.LocationToEat" class="form-select" style="max-width: 128px">
                        <option value="-1">keine Angabe</option>
                    </select>
                    @* @Html.DropDownList(Model.LocationToEat, new SelectList(Model.LocationToEat.name), "Ort", new { @class = "form-control" }); *@
                    @* @foreach (var placeToEat in Model.LocationToEat) {
                        <option value="placeToEat.id">@placeToEat.name</option>
                    } *@
                @* </select> *@

                <label class="form-label">Place for Food</label>
                <select id="location-to-get-food" asp-items="@Model.LocationToGetFood" class="form-select" style="max-width: 128px">
                        <option value="-1">keine Angabe</option>
                </select>
                @* @Html.DropDownList("Id", new SelectList(ViewBag.LocationToEat, "Id", "name"),"Auswählen",  new { htmlAttributes = new { @class = "form-control" } }) *@

                @* <select name="placeForFood" class="place-for-food-select">
                    @foreach (var placeForFood in Model.LocationToGetFood) {
                        <option value="placeForFood.id">@placeForFood.name</option>
                    }
                </select> *@
            </div>

            <button type="submit" class="">Submit</button>
        </form>
    </div>
}