@model dynamic
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using System.Linq;
<h1>Wilkommen zu WatJibts!</h1>

<hr>
@if (!SignInManager.IsSignedIn(User))
{
    <p>
        Hier können Sie zusammen mit Freunden oder ihrem Team unterschiedliche arten von Essen organisieren.
    </p>

    <h2>Es scheint so als wären sie noch nicht angemeldet.</h2>
}
else
{
    @if(Model.LunchSessions == null) 
    {
        <p>Heute wurde noch keine Session hinzugefügt</p>
    }
    else 
    {
        @foreach(var lunchSession in Model.LunchSessions)
        {
            <div class="table-item">
                @lunchSession.lunchTime
                @lunchSession.fk_location
                @lunchSession.fk_user
            </div>
        }
    }

    <hr>
    <div class="user-input-container">
        <form class="form-inline" asp-page="/Home/Confirm" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">

            <div class="time-container">
                <div class="form-field">
                    <label class="form-label">LunchTime</label>
                    <input type="time" id="lunch-time" name="lunch-time" min="00:01" max="23:59" value="13:37"/>
                </div>
            </div>

            <div class="form-field">
                <label class="form-label">Participating</label>
                @Html.CheckBox("participating", false)
            </div>

            <div class="form-wrapper">
                <label class="form-label">Place to Eat</label>
                <select name="place-to-eat" class="place-to-eat-select">
                    @foreach (var placeToEat in Model.LocationToEat) {
                        <option value="placeToEat.id">@placeToEat.name</option>
                    }
                </select>

                <label class="form-label">Place for Food</label>
                <select name="place-for-food" class="place-for-food-select">
                    @foreach (var placeForFood in Model.LocationToGetFood) {
                        <option value="placeForFood.id">@placeForFood.name</option>
                    }
                </select>
            </div>

            <button type="submit" class="">Submit</button>
        </form>
    </div>
}